DISCORD_TOKEN=TOKEN_EXAMPLE
DISCORD_CLIENT_ID=EXAMPLE_CLIENT_ID
DISCORD_GUILD_ID=

USE_GLOBAL_COMMANDS=false

CHICO_VERIFIED_ROLE_ID=
CHICO_SIZE_CHANNEL_ID=

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=admin_password

ME_CONFIG_MONGODB_URL=mongodb://root:example@mongo:27017/
ME_CONFIG_BASICAUTH_ENABLED=true
ME_CONFIG_BASICAUTH_USERNAME=mongo_express_user
ME_CONFIG_BASICAUTH_PASSWORD=mongo_express_password